@media screen and (max-width: 600px) {
  .container input {
    width: 70%;
  }
}

.contactContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contactContainer form {
  width: 15rem;
  margin: auto;
  display: grid;
  margin-top: 5%;
}

.contactContainer input,
.contactContainer textarea {
  background-color: #090a0e;
  color: white;
  text-align: center;
  margin: 1.1rem 0;
  padding: 0.2px auto;
  border-radius: 5px;
  border: #090a0e;
}

.contactContainer ::placeholder {
  color: white;
}

.contactBtn {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: #fe0a3d;
  color: white;
  padding: 0.3rem;
  margin-left: 60px;
  margin-right: 60px;
}

.contactContainer H4 {
  display: flex;
  justify-content: center;
  color: white;
}

button {
}
