.contactContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contactContainer form {
  width: 15rem;
  margin: auto;
  display: grid;
  margin-top: 5%;
}

.contactContainer input,
.contactContainer textarea {
  background-color: #090a0e;
  text-align: center;
  margin: 1.1rem 0;
  height: 35px;
  padding: 10px auto;
  border-radius: 10px;
  border: #090a0e;
}

.contactContainer ::placeholder {
  color: rgb(255, 255, 255);
}

button {
  display: block;
  margin: auto;
  background-color: #fe0a3d;
  border-radius: 20px;
  border: 1px solid transparent;
  font-weight: 100;
  color: white;
  padding: 10px 30px;
  transition: 0.6s;
}

.contactContainer H4 {
  display: flex;
  justify-content: center;
  color: rgb(240, 6, 6);
}
