.movie {
  border-radius: 5px;
}

/* MOBILE */

@media screen and (min-width: 490px) {
  .list-movies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .movie {
    height: 190px;
    margin-bottom: 5px;
  }
  h1 {
    font-size: 20px;
    margin: 50px;
  }

  .display-movies {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 0px;
  }
}

/* TABLETTE */

@media screen and (min-width: 840px) {
  .list-movies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .movie {
    margin-bottom: 5px;
  }
}

/* DESKTOP */

@media screen and (min-width: 1400px) {
  .list-movies {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
  .movie {
    margin-bottom: 10px;
  }
  .display-movies {
    margin-right: 130px;
    margin-left: 130px;
    margin-top: 200px;
  }
}
