/* DESKTOP */

@media screen and (min-width: 1200px) {
  .nav-logo {
    width: 20px;
    position: relative;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    overflow: hidden;
  }

  .nav {
    display: grid;
    grid-template-columns: 1fr 4fr 0.5fr 0fr 0.4fr;
    align-items: center;
    overflow: hidden;
  }

  #nav-menu a {
    position: relative;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .nav-search-logo {
  }

  .cart-button {
    background-color: #fe0a3d;
    border-radius: 20px;
    border: 1px solid transparent;
    font-weight: 100;
    color: white;
    padding: 10px 30px;
    transition: 0.6s;
  }
  /* HOVER */

  .nav-logo:hover {
    background-color: #fe0a3d;
    transition: background-color 0.6s ease-in-out;
  }

  .cart-button:hover {
    position: relative;
    background-color: #fe0a3f00;
    border-radius: 20px;
    border: 1px solid #fe0a3d;
    padding: 10px 30px;
  }

  #nav-menu a.active:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fe0a3d;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  #nav-menu a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fe0a3d;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  #nav-menu a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
