@media screen and (min-width: 1200px) {
  .nav-menu-modal {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .nav-menu-modal {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #0f1014;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px -16px 15px -3px rgba(0, 0, 0, 0.808);
    bottom: 90px;
  }

  .nav-menu-modal a {
    color: #f2f2f2;
    overflow: hidden;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 17px;
  }

  .nav-menu-modal a.active:after {
    content: "";
    overflow: hidden;
    position: fixed;
    border: 2px solid #fe0a3d;
    border-radius: 10px;
    padding: 22px 75px;
    bottom: 0;
    transform: translateX(-67%);
    pointer-events: none;
  }
  .nav-menu-modal a::after {
  }
}
