.show-more-button,
.show-more-link {
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #fe0a3d;
  text-decoration: none;
}
.movie {
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.title-movie {
  font-size: 12px;
  margin: 0;
}

/* MOBILE */

@media screen and (max-width: 490px) {
  .widget-movies {
    display: grid;
    grid-template-columns: 1fr;
  }
  .movie {
    height: 350px;
  }

  .display-movies {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 0px;
  }

  .date-movie,
  .score-movie {
    font-size: 15px;
    font-weight: lighter;
  }
}

@media screen and (min-width: 490px) {
  .widget-movies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .movie {
    height: 100px;
  }

  .display-movies {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 0px;
  }

  .date-movie,
  .genre-movie {
    font-size: 12px;
    font-weight: lighter;
  }
}

@media screen and (max-width: 840px) {
  .date-movie,
  .genre-movie,
  .score-movie,
  .title-movie {
    display: none;
  }
}

/* TABLETTE */

@media screen and (min-width: 840px) {
  .widget-movies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .widget-movie-ticket {
    text-align: left;
  }

  .date-movie {
    margin-right: 35px;
  }

  .movie-ticket-desc {
    display: flex;
    align-items: left;
    justify-content: flex-start;
  }
}

/* DESKTOP */

@media screen and (min-width: 1400px) {
  .widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .widget-movies {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  .display-movies {
    margin-right: 350px;
    margin-left: 350px;
    margin-top: 200px;
  }

  .date-movie,
  .genre-movie {
    font-size: 10px;
    font-weight: lighter;
  }
}
