.show-more-button,
.show-more-link {
  margin: 30px 0 30px 0;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #fe0a3d;
  text-decoration: none;
}
.movie {
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.title-movie {
  text-align: left;
  font-size: 12px;
  margin: 0;
}

.widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* MOBILE */

@media screen and (max-width: 490px) {
  .widget-movies {
    display: grid;
    grid-template-columns: 1fr;
  }
  .movie {
    height: 350px;
  }

  .date-movie,
  .score-movie {
    font-size: 15px;
    font-weight: lighter;
  }
}

@media screen and (min-width: 490px) {
  .widget-movies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .movie {
    margin-right: 20px;
  }

  .date-movie,
  .genre-movie {
    margin-top: 5px;
    font-size: 12px;
    font-weight: lighter;
  }
}

@media screen and (max-width: 840px) {
  .date-movie,
  .genre-movie,
  .score-movie,
  .title-movie {
    display: none;
  }
}

/* TABLETTE */

@media screen and (min-width: 840px) {
  .widget-movies {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .widget-movie-ticket {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
    width: 126px;
    margin-right: 20px;
  }

  .date-movie {
    margin-right: 35px;
  }

  .movie-ticket-desc {
    display: flex;
    text-align: left;
    align-items: left;
    justify-content: flex-start;
  }
}

/* DESKTOP */

@media screen and (min-width: 1400px) {
  .widget-movies {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .date-movie,
  .genre-movie {
    font-size: 10px;
    font-weight: lighter;
  }
}
