body {
  background-color: #1e1e1e;
  font-family: Regular;
  color: white;
  text-align: center;
}

h2 {
  font-size: 10px;
}

@media screen and (max-width: 1000px) {
  h2 {
    display: none;
  }
}
